.header-b {

	.mini-search {
		float: right;
		padding-right: 47px;
		position: relative;
		width: 100%;
		font-size: 14px;
		border: solid 1px $border-color;

		input {
			border: none;
			height: 42px;
			padding-left: 15px;
			padding-right: 15px;
            width: 100%;

			&:focus {
				outline: none;
			}
		}

		.btn {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 14px;
			height: 42px;
			line-height: 42px;
			padding: 0 17px;
			background: none;
			color: $text-color;
			border-left: solid 1px $border-color;

			.fa {
				margin: 0;
			}
		}
	}
	// sm
	@media (min-width: 768px) and (max-width: 991px) {
	}
	// xs
	@media (max-width: 767px) {
		.mini-search {
			float: none;
			margin: 0 0 15px 0;
		}

		.mini-search input {
			width: 100%;
		}
	}
}
